@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'open-color/open-color.css';

:root {
  --color-body: var(--oc-gray-2);
  --color-wrapper: #fff;
  --color-link: var(--oc-blue-8);
  --color-text: var(--oc-gray-8);
  --color-title-border: var(--oc-gray-8);
  --color-warn: var(--oc-red-4);
}

[data-theme='dark'] {
  --color-body: var(--oc-gray-9);
  --color-wrapper: var(--oc-gray-8);
  --color-link: #fff;
  --color-text: #fff;
  --color-title-border: #fff;
  --color-warn: var(--oc-red-6);

  & a {
    @apply underline hover:no-underline;
  }
}

html {
  font-size: 16px;
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  @apply text-text bg-body leading-relaxed;
  transition: background-color 0.3s;
}

a {
  @apply text-link hover:underline;
}

p {
  @apply w-full mt-2 mb-4;
  line-height: 1.8;
}

:where(:any-link) {
  text-decoration-color: color-mix(in srgb, currentcolor, transparent 40%);
  text-underline-offset: 0.25em;
}
